<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="owen zhang">
    <meta name="author" content="owen zhang">

    <title>Owen Zhang Personal Website</title>
   

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  </head>



  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">OwenZhang.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Social</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Contact</a>
                    </li>
              <!--       <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
<!--                 <div class="intro-lead-in">Technology alone is not enough</div>
 -->                <div class="intro-heading">Technology alone is not enough</div>
                <a href="#services" class="page-scroll btn btn-xl">NEXT</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Media</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">

                <a href="https://github.com/naghceuz">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>

                    <h4 class="service-heading">Github</h4>
                    <p class="text-muted">Code wins agrument</p>
                </div>


                <div class="col-md-4">
                 <a href="https://instagram.com/naghceuz">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                 </a>   
                    <h4 class="service-heading">Instagram</h4>
                    <p class="text-muted">Simplicity is ultimate sophistication</p>
                </div>


                <div class="col-md-4">
                  <a href="https://www.owenzhangblog.com">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                    <h4 class="service-heading">Blog</h4>
                    <p class="text-muted">Reading Note</p>
                </div>
            </div>
        </div>
    </section>






    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">All my recent projects listed by the logic of time </h3>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/snappylink.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>SnappyLink</h4>
                        <p class="text-muted">Feb 2014</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/sapor2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sapor</h4>
                        <p class="text-muted">April 2014</p>
                    </div>
                </div>
                


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/tango.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Tango</h4>
                        <p class="text-muted">Oct 2014</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/flyerdr.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>FlyerDR</h4>
                        <p class="text-muted">Oct 2014</p>
                    </div>
                </div>



                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/notalotteryticket.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Notalotteryticket</h4>
                        <p class="text-muted">Continue Developing</p>
                    </div>
                </div>



                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/one.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>One</h4>
                        <p class="text-muted">Feb 2015</p>
                    </div>
                </div>



            <!-- Modal 7 -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/tripadvisor.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Tripgram</h4>
                        <p class="text-muted">March 2015</p>
                    </div>
                </div>


                 <!-- Modal 8 -->
          <!--       <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Tripgram</h4>
                        <p class="text-muted">March 2015</p>
                    </div>
                </div> -->


            </div>
        </div>
    </section>





    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/stormking.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2011</h4>
                                    <h4 class="subheading">Storm King High School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Varsity in Soccer Team</p>
                                    <p class="text-muted">Student Government</p>
                                     <p class="text-muted">Honor Student</p>
                                     <p class="text-muted">Librarian in Storm King School Library for two years.</p>
                                </div>
                            </div>
                        </li>


                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/newyorkpubliclibrary.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2010</h4>
                                    <h4 class="subheading">New York Public Library Librarian</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Help manage the books. Volunteer Job.</p>
                                </div>
                            </div>
                        </li>




                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bu.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb 2011</h4>
                                    <h4 class="subheading">Boston University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Major in Computer Science and minor in Business Finance</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2013</h4>
                                    <h4 class="subheading">Terminal Assitant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Provide help with the hardware and software. 
                                    Perform first tier system administrative help.</p> 
                                    <p class="text-muted">Provide basic help with homework assignments.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/builds.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec 2013 - Present</h4>
                                    <h4 class="subheading">BUILDS</h4>
                                </div>
                                <div class="timeline-body">
                                   <a href="http://builds.cc/"> <p class="text-muted">The coolest student club in the world</p> </a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of my
                                    <br>Story</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted">相逢的人还会再相逢 </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <!-- <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Guanchen Zhang</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://weibo.com/owenzgc"><i class="fa fa-weibo">  </i></a>
                            </li>
                            <li><a href="https://instagram.com/owenzgc/"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/profile/view?id=107069772"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"> .</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
   






































        <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>SnappyLink</h2>
                            <p class="item-intro text-muted">Prize: Intuit's Best Application to Simplify the Business Life.</p>
                            <img class="img-responsive" src="img/portfolio/snappylinkinfo.png" alt="">
                            <p>The Chrome extension pops a mini browser within the space that displays a preview of the link, so that users can see whether the information is useful to them or not. Users don't want to waste time clicking links to read content from every page while going back and forth, back and forth. Instead, they want speed and efficiency to see the content that they need to find. </p>
                            <p>
                                <strong>Link </strong><a href="https://chrome.google.com/webstore/detail/snappylink/oohhmiogbdpfgllgeagjhljekmeojmnf">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: Feb 2014</li>
                                <li>With: Huy, Tianyu, Winston</li>
                                <li>Hackathon Project</li>
                                <li>Prize: Best Business App in HackBeanport 2014</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sapor</h2>
                            <p class="item-intro text-muted">Ranks the resturants around you.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/sapor.png" alt="">
                            <p>Sapor is an iOS application that quickly helps users to find the right nearby resturants . Users can observe the inner atmosphere of those resturants by using Sapor. </p>
                            <p>You can view the iOS download page
                            <a href="https://itunes.apple.com/us/app/sapor/id866192880?mt=8">here</a>.</p>
                             <p>Work with GuoChen and Lei Qining in HackRU 2014 </p>  

                            <button type="button" class="btn btn-primary" data-dismiss="modal">

                            <i class="fa fa-times">
                              
                            </i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Tango</h2>
                            <p class="item-intro text-muted">Ultimate Developer Event 2014 Hackathon.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/bestbuy.jpg" alt="">
                            <p>From the Best Buy blog post about us: Team Tango, a team of four from Boston University, was the overall first place winner and second place Best Buy choice winner. They started out with, "Do you know how many clicks it takes to get to a Best Buy product?" Their goal was to help customers search for a product by location, reducing the number of clicks to find the location and availability of a product. Their app provided immediate availability in the map. They used the Intel XDK and the Best Buy API. Excellent presentation.</p>
                            <p>Team up with Huy , Winston  Event: Ultimate Hackathon 2014 </p>
                            <p>More Detail <a href="https://developer.bestbuy.com/hackathon-blog">BestBuy Developer News</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>FlyerDR</h2>
                            <p class="item-intro text-muted">Yale Hackathon Project</p>
                            <img class="img-responsive img-centered" src="img/portfolio/flyerdr2.jpg" alt="">
                            <p>A website which can do centralized management to different airline loyalty program.</p>
                            <p>Work together with Allan.</p>
                            <p>The project extends after the hackathon </p>
                            <p>Now I am working with another team with it and its name is lemmefly.com </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Notalotteryticket</h2>
                            <p class="item-intro text-muted">A web application to improve personal efficiency by doing time management and efficiency analysis.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/notalotteryticket2.jpg" alt="">
                            <p>The idea is inspired by the chapter Six in Peter Thiel's Book:Zero to One and his speech in Boston University</p>
                            <p> Peter Thiel believes for those people who can make great effort to the world such as Elon Musk or Jack Dorsey; hard working is the fundamental essence of their success. </p>
                            <p>Therefore, I want to build Notalotterytickect.com to improve my efficiency to not being a lottery ticket in this world.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>One</h2>
                            <p class="item-intro text-muted">Biogen Idec Hackathon</p>
                            <img class="img-responsive img-centered" src="img/portfolio/one2.png" alt="">
                            <p>Work with a team to develop a tech-based solution that can help people with multiple sclerosis (MS) better manage their stress. Biogen Idec is seeking innovative approaches that can help teach and enable people living with MS. </p>
                            <p>One is a centralized platform with resources such as meditation, emergency, and automated functions for relieving stress for those living with MS.</p>
                            <p>Working with Huy </p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




   <!-- Portfolio Modal 7 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Tripgram</h2>
                            <p class="item-intro text-muted">Second place in the Tripadvisor Hackathon.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/tripadvisor2.jpg" alt="">
                            <p>Tripgram is like a blog of a city but the unique part is that the city writes its own blog instead of wrote by some editiors. We combine instagram's API with TripAdvsior's API together. The website (blog) will update the most popular pictures about the different tourist attractions. In this way, tourist has better understanding of a dynamic city status. It is technology combing with humanity.</p>
                            <a href="https://github.com/naghceuz/HackTripAdvisor"><p>View in Github</p> </a>
                            <p>Work together with Yao Xiao</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/agency.js"></script>

</body>













</html>
